<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>arXiv Zen</title>

    <!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <style>
    /* Sticky footer styles
    -------------------------------------------------- */
    html {
      position: relative;
      min-height: 100%;
    }
    body {
      /* Margin bottom by footer height */
      margin-bottom: 60px;
    }

    #footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 60px;
      background-color: #f5f5f5;
    }

    .container {
      width: auto;
      max-width: 880px;
      padding: 0px 15px;
    }

    .container .text-muted {
      margin: 20px 0;
    }

    a.actions{
      float: right;
      text-decoration: none;
    }

    p.lead{
      white-space: pre;
      font-size: 50px;
      margin-bottom: 0px;
      padding: 40px 0px 0px 0px;
    }

    </style>
  </head>

  <audio src="http://zen.arfon.org/looperman-l-0943069-0075308-hairlinecrime-zen-garden-melody-125-bpm.wav" autoplay loop>
    Your browser does not support the <code>audio</code> element.
  </audio>
  <body>
    <!-- Begin page content -->
    <div class="container">
      <% haikus.each do |haiku| %>
      <p class="lead"><%= haiku.body %></p>
      <h5 class="pull-right"><a href="<%= haiku.url %>"><%= haiku.url %></a></h5>
      <% end %>
    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted">Breathe... <a href="http://github.com/arfon/haiku">arXiv Zen</a>, part of #sciencehackday.</p>
      </div>
    </div>
  </body>
</html>
